.trmostato {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.state {
    display: flex;
    justify-content: center;
}

.temperature {
    color: #d7eaea;
    font-size: 80vh;
    line-height: 80vh;
}

.temperature i {
    font-size: 2rem;
}

.temperatureIcon {
    font-size: 5vh;
}

.heatingOn {
    color: #f36161;
}

.heatingOff {
    color: #4242fb;
}

.override {
    color: #464d5d;
}

.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.status i {
    align-self: center;
    font-size: 2rem;
}

.config {
    color: #acdbdf;
    text-align: center;
    font-size: 1.5rem;
}
