.trmostato {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    user-select: none;
}

.state {
    display: flex;
    justify-content: center;
}

.temperature {
    color: #d7eaea;
}

.temperature i {
    font-size: 2rem;
}

.temperatureIcon {
    font-size: 5vh;
}

.cool {
    color: #76de76;
}

.cool:not(:first-child) {
    visibility: hidden;
}

.heatingOff {
    color: #4242fb;
}

.heatingOn {
    color: #f36161;
}

.override {
    color: #464d5d;
}

.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.status i {
    align-self: center;
    font-size: 2rem;
}

.config {
    color: #acdbdf;
    text-align: center;
    font-size: 1.5rem;
}

/* Landscape */
@media (orientation: landscape) {
    .temperature {
        font-size: 80vh;
        line-height: 80vh;
    }
}

/* Portrait */
@media (orientation: portrait) {
    .temperature {
        font-size: 70vw;
        line-height: 70vw;
    }
}
