.container {
    background-color: #d7eaea;
    display: flex;
    flex-direction: column-reverse;
    height: 6rem;
    width: 12rem;
    position: absolute;
    right: -4rem;
    top: -1rem;
    transform: rotate(45deg);
}

.button {
    background-color: transparent;
    border: 0;
    color: #464d5d;
    flex-basis: 100%;
    font-weight: 900;
    font-style: italic;
    margin: 0;
    padding: 0;
}
